<div class="d-flex flex-row me-auto flex-wrap mat-toolbar-row filter-row">
  <ng-template ngFor let-filterDef [ngForOf]="filtersDef">
    <div *ngIf="filterDef.visible !== false"
      [class]="(filterDef.class ? filterDef.class : '')">
      <!-- Dropdown Filter -->
      <mat-form-field *ngIf="filterDef.type === FilterType.DROPDOWN && !filterDef.multiple">
        <mat-select (selectionChange)="filterChanged(filterDef)" [(value)]="filterDef.currentValue"
          [placeholder]="filterDef.name | translate">
          <mat-option *ngFor="let item of filterDef.items" [value]="item.key">{{item.value | translate}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <!-- Dropdown Filter with multiple selections-->
      <mat-form-field *ngIf="filterDef.type === FilterType.DROPDOWN && filterDef.multiple">
        <mat-select (selectionChange)="filterChanged(filterDef)" [(value)]="filterDef.currentValue"
          [placeholder]="filterDef.name | translate" multiple disableRipple>
          <mat-select-trigger>{{filterDef.label}}</mat-select-trigger>
          <mat-option *ngFor="let item of filterDef.items" [value]="item">{{item.value | translate}}</mat-option>
        </mat-select>
      </mat-form-field>
      <!-- Dialog Table Filter -->
      <mat-form-field *ngIf="filterDef.type === FilterType.DIALOG_TABLE && !filterDef.multiple">
        <input (click)="showDialogTableFilter(filterDef)" [placeholder]="filterDef.name | translate"
          [value]="(filterDef.currentValue ? filterDef.currentValue[0].value : filterDef.defaultValue) | translate"
          class="form-field-popup" matInput readonly=true type="text" />
        <button mat-icon-button matSuffix (click)="resetDialogTableFilter(filterDef)" aria-label="Clear">
          <mat-icon>clear</mat-icon>
        </button>
      </mat-form-field>
      <!-- Dialog Table Filter with multiple selections-->
      <mat-form-field *ngIf="filterDef.type === FilterType.DIALOG_TABLE && filterDef.multiple">
        <input (click)="showDialogTableFilter(filterDef)" [placeholder]="filterDef.name | translate"
          [value]="filterDef.label" class="form-field-popup" matInput readonly=true type="text" />
        <button mat-icon-button matSuffix (click)="resetDialogTableFilter(filterDef)" aria-label="Clear">
          <mat-icon>clear</mat-icon>
        </button>
      </mat-form-field>
      <!-- Date Filter -->
      <mat-form-field *ngIf="filterDef.type === FilterType.DATE">
        <mat-datetimepicker #picker type="datetime" openOnFocus="false" mode="portrait" timeInterval="1">
        </mat-datetimepicker>
        <mat-datetimepicker-toggle [for]="picker" matSuffix></mat-datetimepicker-toggle>
        <input [id]="filterDef.id" matInput [placeholder]="filterDef.name | translate"
          (dateChange)="dateFilterChanged(filterDef, $event)" [matDatetimepicker]="picker"
          [value]="filterDef.currentValue" autocomplete="false">
      </mat-form-field>
      <!-- Date Range Filter -->
      <mat-form-field *ngIf="filterDef.type === FilterType.DATE_RANGE" #ngxDatePickerElement>
        <input matInput ngxDaterangepickerMd
          [timePicker]="filterDef.dateRangeTableFilterDef.timePicker"
          [timePickerSeconds]="filterDef.dateRangeTableFilterDef.timePickerSeconds"
          [timePicker24Hour]="filterDef.dateRangeTableFilterDef.timePicker24Hour"
          [locale]="filterDef.dateRangeTableFilterDef.locale"
          [ngModel]="filterDef.currentValue"
          [ranges]="filterDef.items[0]"
          [alwaysShowCalendars]="true"
          (ngModelChange)="dateRangeChanged(filterDef, $event)"
          (keyup.enter)="dateRangeChangedDirectly(filterDef, $event)"/>
        <mat-icon matSuffix class="ngx-daterangepicker-action date-range-picker-icon mt-1" (click)="openDateRanges(ngxDatePickerElement)">
          date_range
        </mat-icon>
      </mat-form-field>
      <!-- All key filter -->
      <mat-form-field *ngIf="filterDef.type === FilterType.ALL_KEY">
        <input [placeholder]="filterDef.name | translate" matInput>
      </mat-form-field>
    </div>
  </ng-template>
  <!-- Search -->
  <div *ngIf="dataSource.isSearchEnabled" class="col search-form">
    <mat-form-field>
      <input appAutofocus autocomplete="off" #searchInput [placeholder]="searchPlaceholder | translate" matInput>
      <button mat-icon-button matSuffix (click)="resetSearchFilter()" aria-label="Clear">
        <mat-icon>clear</mat-icon>
      </button>
    </mat-form-field>
  </div>
</div>
